:root{
    --brand-1: #4263eb;
    --brand-2: #364fc7;

    --gray-0: #0a0c0d;
    --gray-1: #212529;
    --gray-2: #495057;
    --gray-3: #868e96;
    --gray-4: #DEE2E6;
    --gray-5: #f8f9fa;
    --gray-opacity-1: rgba(33, 37, 41, 0.5);
    --white-fixed: #ffffff;

    --like: #d7443e;

    --font-family: 'Inter';

    --font-weigth-title1: 700;
    --font-weigth-title2: 600;
    --font-weigth-text: 400;
   
    --font-size-title1: 1.75rem;
    --font-size-title2: 1.25rem;
    --font-size1: 1rem;
    --font-size2: .875rem;
    --font-size3: .75rem;

    --bttn-radius: 8;
}

body{
    position: relative;
    color: var(--white-fixed);
    padding-top: 100px;
}